[submodule "ResearchUXFactory"]
	path = ResearchUXFactory
	url = https://github.com/KeyWise/ResearchUXFactory-iOS.git

[submodule "BridgeSDK"]
	path = BridgeSDK
	url = https://github.com/KeyWise/Bridge-iOS-SDK
